<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <title>{{#if (eq title appName)}}{{appName}}{{else}}{{title}} | {{appName}}{{/if}}</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body{{#if bodyClass}} class="{{bodyClass}}"{{/if}}>
    {{> site-header}}
    <main>
      {{{body}}}
    </main>
    {{> site-footer}}
    {{#each pageScripts}}
      <script src="{{src}}" defer></script>
    {{/each}}
    <script src="/scripts/main.js" defer></script>
  </body>
</html>
